.navbar { background-color: white; }
.navbar .navbar-nav .nav-link { color: cadetblue; font-size:24px;font-weight: 400; }
.navbar .navbar-nav .nav-link:hover { color: #008fd4;  overflow: hidden;}
.navbar .navbar-nav .active > .nav-link { color: #008fd4; }

footer a.text-light:hover { color: #008fd4!important; text-decoration: none; overflow: hidden; }
footer .cizgi { border-right: 1px solid #535e67; }
@media (max-width: 992px) { footer .cizgi { border-right: none; } }
.logo-img {
  height: 36px;
}

.navbar-btn{
  background: transparent;
  border: none;
  font-size: 28px;
  color: #008fd4;
}
.dropbtn {
  color: cadetblue;
  background: transparent;
  border: none;
  padding-top: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: #53acdf; font-size:24px;font-weight: 400;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background: white;
  border-radius: 12%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover { letter-spacing: 0.8px !important;
  padding-left: 33px !important;background-color: #ddd; color: yellow; overflow: hidden !important;}

.dropdown:hover .dropdown-content  {display: block;}

.dropdown:hover .dropbtn {color: #fbc531;}

.active{color: #fbc531;}
.up-icon {
  margin-bottom: -5px;
}

.iconi {
display: none;
  position: absolute;
  font-size: x-large;
  color: #e8e822;
  padding-left: 20px;
}

.header-user-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #0b87c5;
  margin-top: 2px;
}


.top-header .form-control {
  font-size: 13px;
  min-height: 34px;
  padding: 6px;
  border-radius: 50px;
  width: 90px;
}




.top-header {
  background-image: linear-gradient(to left,#008fd4, #d07c72);
  padding: 9px 22px 0 5px;
}
.justify-content-between {
  justify-content: space-between!important;
}
.top-header ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  color: #fff;
}
.top-header ul li:not(:last-child) {
  margin-right: 30px;
}
.top-header ul li .fas {
  margin-right: 10px;
}
.login-btn {
  border-radius: 112px !important;
    padding: 13px 29px !important;
    justify-content: center;
    background: #008fd4;
    color: white !important;
    font-size: unset !important;
}
.main2 {
  justify-content: flex-end;
    display: flex;
}
.mmargin-left {
  margin-left: 20px;
}
